@import "tailwindcss";

@layer base {
  html {
    font-family: var(--font-pretendard), sans-serif;
  }
}
@layer utilities {
  .font-pretendard {
    font-family: var(--font-pretendard), sans-serif;
  }
}
@theme {
  --color-red-100: #ffdde5;
  --color-red-200: #ffc4d2;
  --color-red-300: #ff92ad;
  --color-red-400: #ff5d7e;
  --color-red-main: #ff1f44;
  --color-red-600: #e6103e;
  --color-red-700: #be1e31;

  --color-gray-white: #fafafa;
  --color-gray-100: #ececee;
  --color-gray-200: #dddee0;
  --color-gray-300: #a6a7ab;
  --color-gray-400: #95969b;
  --color-gray-500: #7a7d82;
  --color-gray-600: #6f7176;
  --color-gray-700: #57585c;
  --color-gray-800: #434448;
  --color-gray-850: #333537;
  --color-gray-900: #29292c;
  --color-gray-950: #1b1b1b;
  --color-gray-black: #0e0e0e;

  --fs-title-1: 1.5rem;
  --fs-title-2: 1.375rem;
  --fs-title-3: 1.25rem;
  --fs-body-1: 1.125rem;
  --fs-body-2: 1rem;
  --fs-body-3: 0.875rem;
  --fs-caption-1: 0.75rem;
  --fs-caption-2: 0.6875rem;
  --fs-caption-3: 0.625rem;
}
@layer components {
  .container-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title-1-bold {
    font-size: var(--fs-title-1);
    font-weight: 700;
    line-height: 150%;
  }
  .title-1-semibold {
    font-size: var(--fs-title-1);
    font-weight: 600;
    line-height: 150%;
  }

  .title-2-bold {
    font-size: var(--fs-title-2);
    font-weight: 700;
    line-height: 150%;
  }
  .title-2-semibold {
    font-size: var(--fs-title-2);
    font-weight: 600;
    line-height: 150%;
  }

  .title-3-bold {
    font-size: var(--fs-title-3);
    font-weight: 700;
    line-height: 140%;
  }
  .title-3-semibold {
    font-size: var(--fs-title-3);
    font-weight: 600;
    line-height: 140%;
  }

  .body-1-semibold {
    font-size: var(--fs-body-1);
    font-weight: 600;
    line-height: 140%;
  }
  .body-1-medium {
    font-size: var(--fs-body-1);
    font-weight: 500;
    line-height: 140%;
  }

  .body-2-semibold {
    font-size: var(--fs-body-2);
    font-weight: 600;
    line-height: 140%;
  }
  .body-2-medium {
    font-size: var(--fs-body-2);
    font-weight: 500;
    line-height: 140%;
  }

  .body-3-semibold {
    font-size: var(--fs-body-3);
    font-weight: 600;
    line-height: 140%;
  }
  .body-3-medium {
    font-size: var(--fs-body-3);
    font-weight: 500;
    line-height: 140%;
  }
  .body-3-regular {
    font-size: var(--fs-body-3);
    font-weight: 400;
    line-height: 140%;
  }
  .caption-1-medium {
    font-size: var(--fs-caption-1);
    font-weight: 500;
    line-height: 130%;
  }
  .caption-1-regular {
    font-size: var(--fs-caption-1);
    font-weight: 400;
    line-height: 130%;
  }

  .caption-2-medium {
    font-size: var(--fs-caption-2);
    font-weight: 500;
    line-height: 130%;
  }
  .caption-2-regular {
    font-size: var(--fs-caption-2);
    font-weight: 400;
    line-height: 130%;
  }
  .caption-3-medium {
    font-size: var(--fs-caption-3);
    font-weight: 500;
    line-height: 130%;
  }
  .caption-3-regular {
    font-size: var(--fs-caption-3);
    font-weight: 400;
    line-height: 130%;
  }
}

body {
  min-width: 375px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-color: var(--color-gray-black);
  color: var(--color-gray-white);
  min-height: 100vh;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* iOS momentum scroll */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.card-shadow-blur {
  box-shadow: 0px 0px 80px 1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(22.5px);
}

.drop-shadow {
  box-shadow: 0px 0px 16.3px 0px rgba(0, 0, 0, 0.6);
}

.drop-shadow-2 {
  box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.14);
}
/* 자동입력 시 브라우저 css 배경색 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  background-color: transparent !important;
  color: inherit !important;
}

input,
textarea {
  font-size: 16px; /* 최소 16px로 하면 iOS 확대 방지 */
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}
